<div class="menu-container">
  <ul class="menu" id="header-sections-menu">
    {{#each nav}}
    <li id="{{@key}}">
      <a>{{@key}}</a>
      <ul class="submenu">
        {{#each this}}
        <li>
          <a data-section='{{@key}}' data-value='{{this}}'>{{this}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
  <div id="qrcode"></div>
</div>
<div id="preview">
  <div id="loader" data-host="{{server}}" class="hide"><img src="imgs/loader.gif" alt="loader"></div>
  <iframe id="preview_iframe" src="{{server}}"></iframe>
</div>
<div class='potato tab' data-type='stylus'>
  <div class="variables-container">
    <div class="accordions">
      {{#each variables.sections}}
      <form class="section">
        <h2 class="section-btn-header">{{@key}}</h2>
        <section class="variables">
          <ul>
            {{#each this}}
            <li>
              {{showPotatoOption this}}
            </li>
            {{/each}}
          </ul>
          <div class="">
            <button class="submit-change" data-section="{{@key}}">update</button>
          </div>
        </section>
      </form>
    {{/each}}
    <form class="section" action="/images" method="POST" enctype="multipart/form-data">
      <h2 class="section-btn-header">images</h2>
      <section class="variables">
        {{#each variables.images}}
          {{> _file this}}
        {{/each}}
        <button type="submit">update</button>
      </section>
      </form>
    </div>
    <form action="/reset" method="POST">
        <button type="submit" class="reset warning">reset variables</button>
    </form>

    <form action="/remove" method="POST">
      <button type="submit" class="reset warning">reset images</button>
    </form>
  </div>
</div>

